<div class="navbar navbar-fixed">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">StarWatch Captain</a>
      <ul class="nav">
            <li class="active">
               <a href="{{ADMIN_URL}}/">Main</a>
            </li>
            
            
           <li class="active">
           
              <a href="{{ADMIN_URL}}/devices">Devices</a>
           </li>
           
           
           
           {#
           <li {% if type == "Foo" %}class="active"{% endif %}>
             <a href="{{ADMIN_URL}}/foo">Foo</a>
           </li>
           #}
           
           
      </ul>
    </div>
  </div>
</div>